@import "../../core/styles/_variables";
@import "../../core/styles/_mixins";

.banner-chart-728-x-90-indiana-module {
  width: 728px;
  height: 90px;

  .copy1 {
    left: 15px;
    width: 200px;
    height: 30px;
    @include centerY;
  }

  .copy2 {
    top: 10px;
    left: 15px;
    width: 270px;
    height: 80px;
  }

  .twinkle {
    background-image: url(global-twinkle.png);
    z-index: 5;
    height: 50px;
    width: 50px;
    transform-origin: center;
    position: absolute;
    top: 545px;
    left: 0;
  }


  .owl {
    top: -271px;
    left: 419px;
    height: 723px;
    width: 629px;
    opacity: 1;
    visibility: visible;
    z-index: -1;
    -webkit-backface-visibility: hidden; perspective: 0; /* Chrome, Safari, Opera */
    backface-visibility: hidden; perspective: 0;
    perspective: 500;

    .end-owl {
      top: -18px;
      left: -136px;
      height: 107%;
      width: 146%;
      z-index: 3;
      background-image: url(banner-chart-728x90-indiana--end-owl.jpg);

    }

    &__eyes {
      background-image: url(banner-chart-728x90-indiana--main-blink.png);
      z-index: 5;
      height: 100%;
      width: 136%;
      top: 106px;
      left: -297px;
      -webkit-backface-visibility: hidden; perspective: 500; /* Chrome, Safari, Opera */
       backface-visibility: hidden; perspective: 500;
    }


    &__body {
      background-image: url(banner-chart-728x90-indiana--owl-chart.jpg);
      z-index: 2;
      height: 100%;
      width: 100%;
      -webkit-backface-visibility: hidden; perspective: 500; /* Chrome, Safari, Opera */
       backface-visibility: hidden; perspective: 500;
    }

    // &__prop {
    //   background-image: url(chart.png);
    //   z-index: 3;
    //   height: 100%;
    //   width: 100%;
    //   top: -138px;
    //   left: 190px;
    //   -webkit-backface-visibility: hidden; perspective: 500; /* Chrome, Safari, Opera */
    //    backface-visibility: hidden; perspective: 500;
    // }

    &__prop--graphic-1 {
      background-image: url(banner-chart-728x90-indiana--chart-graphic-1.png);
      z-index: 4;
      height: 44%;
      width: 12%;
      top: 74px;
      left: 396px;
      -webkit-backface-visibility: hidden; perspective: 500; /* Chrome, Safari, Opera */
       backface-visibility: hidden; perspective: 500;
    }
    &__prop--graphic-2 {
      background-image: url(banner-chart-728x90-indiana--chart-graphic-2.png);
      z-index: 4;
      height: 27%;
      width: 18%;
      top: 213px;
      left: 470px;
      -webkit-backface-visibility: hidden; perspective: 500; /* Chrome, Safari, Opera */
       backface-visibility: hidden; perspective: 500;
    }
  }



  .logo {
    left: 460px;
    width: 106px;
    height: 45px;
    @include centerY;
    &--indiana{
      background-image: url(banner-chart-728x90-indiana--wgu-indiana-logo-728x90.png);
      z-index: 3;
    }
  }

  .cta {
    left: 319px;
    bottom: 25px;
    @include centerY;

    height: 24px;
    width: 108px;
    background-color: #862633;
    border-radius: 3px;
    border: 1px solid #862633;
    z-index: 21;
    overflow: hidden;

    &:hover {
      background-color: #c69214;
      border-color: #c69214;
    }



    &__text {
      z-index: 4;

      @include centerX;
      padding: 5px 0;

    }


    .sheen {
      content: "";
      position: absolute;
      top: 0%;
      left: -130%;
      width: 200%;
      height: 200%;
      opacity: 1 !important;
      visibility: visible !important;
      transform: rotate(60deg);

      background: rgba(255, 255, 255, 0.13);
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 255, 255, 0.2) 77%,
        rgba(255, 255, 255, 0.7) 92%,
        rgba(255, 255, 255, 0.0) 100%
      );
    }


  }


}
