"*":
  "atom-material-ui":
    tabs:
      compactTabs: true
    ui:
      panelContrast: true
  autoclose:
    disabledFileExtensions: [
      "scss"
    ]
  "autocomplete-paths":
    enableHtmlSupport: true
    ignoredPatterns: [
      "node_modules"
    ]
  core:
    audioBeep: false
    packagesWithKeymapsDisabled: [
      "emmet"
    ]
    projectHome: "/Users/alex/Code/"
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "one-dark-syntax"
    ]
    titleBar: "hidden"
  editor:
    fontFamily: "\"Roboto Mono\""
    fontSize: 15
    lineHeight: 1.75
  emmet:
    formatLineBreaks: false
  "exception-reporting":
    userId: "6a6feed8-2edf-40c7-accc-d31b3a1dec21"
  "language-babel":
    emmetCSSAutocomplete: true
    taggedTemplateGrammar: [
      "pug:source.pug"
    ]
  "project-manager": {}
  "tree-view":
    alwaysOpenExisting: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
