[
  {
    title: "Tma Lays Smiles"
    paths: [
      "/Users/alex/Code/tma-lays-smiles"
    ]
  }
  {
    title: "Lofty Gatsby Starter"
    paths: [
      "/Users/alex/Code/lofty-gatsby-starter"
    ]
  }
]
